@import 'src/commonStyles/colors';

.app {
    &__btn {
        margin: 15px;
        padding: 5px 10px;
        font-size: 13px;
        color: $col1;
        background-color: $col3;
        cursor: pointer;
    }

    &__wrap {
        display: grid;
        grid-template-rows: 2fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;

        &_first {
            grid-template-areas: "column-1 column-2";
            grid-template-columns: 1fr 3fr;
        }

        &_second {
            grid-template-areas: "column-2 column-1";
            grid-template-columns: 3fr 1fr;
        }
    }
}